<div class="container">
    <!--<forum-list foros="foros"></forum-list>-->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6">
                <img style="width: 184px; height: 69px" class="img-responsive" src="{{item.imagen}}" alt="">
                <br><br>
                <label>Nombre: {{item.nombre}}</label><br><br>
                <label>Generos: <span ng-repeat="y in item.generos_item">{{y.nombre}} </span></label><br><br>
                <label>Consolas: <span ng-repeat="y in item.consolas_item">{{y.nombre}} </span></label><br><br>
                <label for="carrito1">Precio: ${{item.precio}}</label>
                <button ng-click="addCart()"
                        ng-if="storage.usuario != null && inCarrito === false && comprado === false"
                        style="margin-left: 10px" id="carrito1"
                        class="btn btn-success">Añadir al carrito
                </button>
                <button ng-click="removeCart()"
                        ng-if="storage.usuario != null && inCarrito === true && comprado === false"
                        style="margin-left: 10px" id="carrito2"
                        class="btn btn-danger">Sacar del carrito
                </button>
                <button disabled ng-if=" comprado === true"
                        style="margin-left: 10px"
                        class="btn btn-success">Comprado
                </button>
                <button ng-click="editarItem()" ng-if=" storage.idtipo === 2"
                        style="margin-left: 10px"
                        class="btn btn-success">Editar
                </button>
            </div>
            <div class="col-md-6">
                <label>Descripcion:</label><br><br>
                <p>{{item.descripcion}}</p><br>
            </div>
        </div>
    </div>
</div>